name: Lint & Format

on:
  pull_request:
  push:
    branches: [ "main", "develop" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: |
          uv sync --dev

      - name: Run Black
        run: uv run black --check .

      - name: Run isort
        run: uv run isort --check-only .
